{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>ReDoc</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'climinterface/fonts' %}" rel="stylesheet">
    <!-- ReDoc doesn't change outer page styles -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <redoc spec-url='{% static 'climinterface/openapi_schema.yml' %}'></redoc>
    <script src="{% static 'climinterface/redoc.standalone.js' %}"> </script>
  </body>
</html>